.button {
  border: 0;
  cursor: pointer;
  color: rgba(var(--cs-white));
  border-radius: var(--cs-radius-default);
}

.link {
  display: inline-block;
  text-decoration: none;
  color: rgba(var(--cs-white));
  border-radius: var(--cs-radius-default);
}

.sm {
  padding: var(--cs-spacing-size-xs) var(--cs-spacing-size-md);
  font-size: var(--cs-font-size-sm);
}

.md {
  padding: var(--cs-spacing-size-xs) var(--cs-spacing-size-md);
  font-size: var(--cs-font-size-md);
}

.lg {
  padding: var(--cs-spacing-size-xs) var(--cs-spacing-size-md);
  font-size: var(--cs-font-size-lg);
}

.primary {
  background-color: rgba(var(--cs-primary));
}

.primary:hover {
  background-color: var(--cs-primary-darker);
  box-shadow: var(--cs-shadow-xs);
}

.primary.outline {
  color: rgba(var(--cs-primary));
  background-color: transparent;
  border: 1px solid rgba(var(--cs-primary));
}

.primary.outline:hover {
  background-color: var(--cs-primary-lighter);
}

.secondary {
  background-color: rgba(var(--cs-secondary));
}

.secondary:hover {
  background-color: var(--cs-secondary-darker);
  box-shadow: var(--cs-shadow-xs);
}

.secondary.outline {
  color: rgba(var(--cs-secondary));
  background-color: transparent;
  border: 1px solid rgba(var(--cs-secondary));
}

.secondary.outline:hover {
  background-color: var(--cs-secondary-lighter);
}

.success {
  background-color: rgba(var(--cs-success));
}

.success:hover {
  background-color: var(--cs-success-darker);
  box-shadow: var(--cs-shadow-xs);
}

.success.outline {
  color: rgba(var(--cs-success));
  background-color: transparent;
  border: 1px solid rgba(var(--cs-success));
}

.success.outline:hover {
  background-color: var(--cs-success-lighter);
}

.info {
  background-color: rgba(var(--cs-info));
}

.info:hover {
  background-color: var(--cs-info-darker);
  box-shadow: var(--cs-shadow-xs);
}

.info.outline {
  color: rgba(var(--cs-info));
  background-color: transparent;
  border: 1px solid rgba(var(--cs-info));
}

.info.outline:hover {
  background-color: var(--cs-info-lighter);
}

.warning {
  color: rgba(var(--cs-black));
  background-color: rgba(var(--cs-warning));
}

.warning:hover {
  background-color: var(--cs-warning-darker);
  box-shadow: var(--cs-shadow-xs);
}

.warning.outline {
  color: rgba(var(--cs-warning));
  background-color: transparent;
  border: 1px solid rgba(var(--cs-warning));
}

.warning.outline:hover {
  background-color: var(--cs-warning-lighter);
}

.danger {
  background-color: rgba(var(--cs-danger));
}

.danger:hover {
  background-color: var(--cs-danger-darker);
  box-shadow: var(--cs-shadow-xs);
}

.danger.outline {
  color: rgba(var(--cs-danger));
  background-color: transparent;
  border: 1px solid rgba(var(--cs-danger));
}

.danger.outline:hover {
  background-color: var(--cs-danger-lighter);
}

.plain {
  color: rgba(var(--cs-blue-600));
  background-color: transparent;
}

.disabled {
  pointer-events: none;
  background-color: rgba(var(--cs-disabled-bg-color), 0.12);
  color: rgba(var(--cs-disabled-bg-color), 0.3);
}

.outline.disabled {
  border: 1px solid rgba(var(--cs-disabled-bg-color), 0.12);
  color: rgba(var(--cs-disabled-bg-color), 0.3);
}

.plain.disabled {
  border: none;
  background-color: transparent;
}


